[submodule "themes/tomorrow-theme"]
	path = themes/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
	shallow = true
[submodule "themes/powerlevel10k"]
	path = themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
